<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/3264d39625.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <link rel="stylesheet" href="../../postsModify/style.css" />
  <body>
    <div id="mainPageTop">
      <div id="mainLogo"><a href="/">이건 메인로고</a></div>
      <ul id="mainPageNav">
        <li><a href="">COMMUNITY</a></li>
        <li><a href="">MINI GAME</a></li>
      </ul>
      <ul id="mainPageSign">
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
      </ul>
      <ul id="mainPageLogo">
        <li>
          <a href="https://github.com/TeTedo/KeyboardWarrior.git"
            ><img
              class="mainPageLogo_githubLogo"
              src="http://rajlab.org/icons/github_white.png"
              alt="github"
          /></a>
        </li>
        <li>
          <a
            href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
            ><img
              class="mainPageLogo_notionLogo"
              src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
              alt="notion"
          /></a>
        </li>
      </ul>
    </div>
    <!-- 포스팅구역 -->
    <!-- multer를 쓰려면  enctype="multipart/form-data" 써줘야함-->
    <form
      id="posting"
      action="/modify"
      method="post"
      enctype="multipart/form-data"
    >
      <div id="posting_left">
        <!-- 8.25 img 태그 추가 -->
        <img src="" alt="이미지를 선택하세요" />
      </div>
      <div id="posting_right">
        <textarea name="textModify"></textarea>
        <!-- 8.25 div추가 -->
        <div id="posting_right_imagePreview">
          <div>
            <img src="" />
            <input
              id="filesInput1"
              type="file"
              accept="image/*"
              name="files1"
              accept="image/*"
            />
            <label for="filesInput1"><i class="fa-solid fa-image"></i></label>
            <span><i class="fa-solid fa-circle-xmark"></i></span>
          </div>
          <div>
            <img src="" />
            <input
              id="filesInput2"
              type="file"
              accept="image/*"
              name="files2"
              accept="image/*"
            />
            <label for="filesInput2"><i class="fa-solid fa-image"></i></label>
            <span><i class="fa-solid fa-circle-xmark"></i></span>
          </div>
          <div>
            <img src="" />
            <input
              id="filesInput3"
              type="file"
              accept="image/*"
              name="files3"
              accept="image/*"
            />
            <label for="filesInput3"><i class="fa-solid fa-image"></i></label>
            <span><i class="fa-solid fa-circle-xmark"></i></span>
          </div>
          <div>
            <img src="" />
            <input
              id="filesInput4"
              type="file"
              accept="image/*"
              name="files4"
              accept="image/*"
            />
            <label for="filesInput4"><i class="fa-solid fa-image"></i></label>
            <span><i class="fa-solid fa-circle-xmark"></i></span>
          </div>
          <div>
            <img src="" />
            <input
              id="filesInput5"
              type="file"
              accept="image/*"
              name="files5"
              accept="image/*"
            />
            <label for="filesInput5"><i class="fa-solid fa-image"></i></label>
            <span><i class="fa-solid fa-circle-xmark"></i></span>
          </div>
        </div>
        <div id="posting_right_bottom">
          <div id="posting_right_bottom_uploadImg">
            <!-- 8.25 input 태그 추가 -->
            <!-- 파일을 여러개 올릴거라 multiple 추가 입력 -->
            <!-- accept : 이미지 형식만 받으려고 -->
          </div>
          <div id="posting_right_bottom_postingBtn">
            <!-- 8.25 id값 없애고 등록에 div대신 a태그 추가 -->
            <button type="submit">수정</button>
            <a href="/">취소</a>
          </div>
        </div>
      </div>
    </form>
    <!-- 포스팅구역 끝 -->
  </body>
  <script src="../../postsModify/postsModify.js"></script>
  <script>
    // 불러오면 값넣기
    window.onload = function () {
      let postData = "<%= JSON.stringify(postData) %>";
      postData = postData.replaceAll("&#34;", '"');
      postData = postData.replaceAll("\\", "/");
      postData = JSON.parse(postData);

      // 이미지 값 넣어주기
      let imageArr = [
        postData.image1,
        postData.image2,
        postData.image3,
        postData.image4,
        postData.image5,
      ];
      imageArr = imageArr.filter((el) => el != null);
      imageArr.forEach((el, index) => {
        const imageTag = document.querySelectorAll(
          "#posting_right_imagePreview img"
        )[index];
        imageTag.src = "../../" + el;
        imageTag.style.display = "block";
        document.querySelectorAll(".fa-image")[index].style.display = "none";
        document.querySelectorAll("#posting_right_imagePreview span")[
          index
        ].style.display = "flex";
      });
      // 왼쪽 이미지 넣기
      document.querySelector("#posting_left > img").src =
        "../../" + imageArr[0];

      // textarea 값 채우기
      document.querySelector("#posting_right > textarea").value = postData.text;
    };
  </script>
</html>
