* {
    background-color:  transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    position: absolute;
    width: 100%;
}

/* 탑 */
.top{
    background-color: white;
    position: fixed;
    width: 100%;
}
.topWrapper{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topWrapper h1{
    color: #855cb3;
}
.topWrapper input{
    width: 500px;
    height: 50px;
    border: 2px solid rgb(226, 204, 226);
    border-radius: 10px;
    background-color: whitesmoke;
}
#profile {
    width: 150px;
    height: 40px;
    border: 2px solid rgb(226, 204, 226);
    border-radius: 100px;
    background-color: whitesmoke;
}

/* 네브 */
.nav{
    width: 100%;
    position: fixed;
    border-bottom: 2px solid rgb(226, 204, 226);
    border-top: 2px solid rgb(226, 204, 226);
    top: 100px;
    background-color: white;
}
.navWrapper{
    width: 1300px;
    margin: 0 auto;    
    
    
}
.navWrapper ul{
    display: flex;
    justify-content: center;
    height: 50px;    
}
.navWrapper li{
    text-align: center;
    height: 50px;
    width: 100px;
    border-right: 2px solid  rgb(226, 204, 226);
    cursor: pointer;
    background-color:whitesmoke;

}
.navWrapper a{
    position: relative;
    top: 15px;
    color: #855cb3;
}
.space{
    height: 154px;
}

/* 사이드 */
.side{
    position: fixed;
    width: 100%;
    margin-top: 20px;
}
.sideWrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.side .left{
    width: 300px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid rgb(226, 204, 226);
}
.side .right{
    width: 300px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid rgb(226, 204, 226);
}

/* 스크롤 */
.scrollContents{
    position: fixed;
    width: 100%;
    z-index: -999;
}
.scrollContentsWrapper{
    width: 1200px;
    margin: 0 auto;
}
#scrollBtn{
    width: 50px;
    height: 50px;
    /* border: 2px solid #855cb3; */
    border-radius: 500px;
    background-color: #855cb3;
    color: white;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 550px;
    right: 115px;
    transition: 0.6s;
    opacity: 0;
}

/* 메인 */
.mainWrapper{
    width: 1200px;
    margin: 0 auto;
    height: 80vh;
}
.main .contents{
    height: 80vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.mainWrapper .center div{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    border: 2px solid rgb(226, 204, 226);
    overflow: hidden;
    margin-bottom: 20px;
}