* {
    background-color:  transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    position: absolute;
    width: 100%;
}
.fixed{
    position: fixed;
    width: 100%;
}
.fixedSpace{
    height: 20px;
    background-color: white;
}
.space{
    height: 150px;
}
/* 탑 */
.top{
    background-color: white;
    width: 100%;
}
.topWrapper{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topWrapper h1{
    color: #855cb3;
}
.topWrapper input{
    width: 500px;
    height: 50px;
    border: 2px solid rgb(226, 204, 226);
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
    left: -70px;
}
#topSearchBtn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(./images/search.png);
    background-size: cover;
    position: relative;
    left: -360px;
    cursor: pointer;
}

/* 네브 */
/* .nav{
    width: 100%;
    position: fixed;
    border-bottom: 2px solid rgb(226, 204, 226);
    border-top: 2px solid rgb(226, 204, 226);
    top: 100px;
    background-color: white;
}
.navWrapper{
    width: 1300px;
    margin: 0 auto;    
}
.navWrapper ul{
    display: flex;
    justify-content: center;
    height: 50px;    
}
.navWrapper li{
    text-align: center;
    height: 50px;
    width: 100px;
    border-right: 2px solid  rgb(226, 204, 226);
    cursor: pointer;
    background-color:whitesmoke;

}
.navWrapper a{
    position: relative;
    top: 15px;
    color: #855cb3;
} */

.borderLine{
    border-bottom: 2px solid  rgb(226, 204, 226);;
}

/* 사이드 */
.side{
    width: 100%;
    margin-top: 40px;
}
.sideWrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.side .left{
    width: 250px;
    height: max-content;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid rgb(226, 204, 226);
    
}
.leftMenu{
    padding: 30px;
}
.leftMenu li{
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(226, 204, 226);
    cursor: pointer;
    overflow: auto;
}
.leftMenudiv{
    color: #855cb3;
    height: 19.5px;
    overflow: hidden;
    font-size: larger;
}
.leftMenudiv.start{
    width: 0;
    background-color: #855cb3;
    color: white;
    border: none;
}
.leftMenudiv.active{
    width: 50%;
    transition:1.5s;
}
.side .right{
    width: 250px;
    height: max-content;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid rgb(226, 204, 226);
}

.right .contents{
    padding: 30px;
}
.right .login{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.right li:first-child{
    margin-bottom: 10px;
}
.right .login input{
    width: 100px;
}
.right .join{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}
/* 스크롤 */
.scrollContents{
    position: fixed;
    width: 100%;
    z-index: -999;
    height: 50vh;
}
.scrollContentsWrapper{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#scrollBtn{
    width: 50px;
    height: 50px;
    /* border: 2px solid #855cb3; */
    border-radius: 500px;
    background-color: #855cb3;
    color: white;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    right: 200px;
    transition: 0.6s;
    opacity: 0;
    font-size: larger;
}

/* 메인 */
.mainWrapper{
    width: 1200px;
    margin: 0 auto;
    height: 80vh;
}
.main .contents{
    height: 80vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.mainWrapper .center div{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    border: 2px solid rgb(226, 204, 226);
    overflow: hidden;
    margin-bottom: 20px;
}