* {
    background-color:  transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    position: absolute;
    width: 100%;
}
.fixed{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.fixedSpace{
    height: 20px;
    background-color: white;
    position: relative;
}
.space{
    height: 150px;
}
/* 탑 */
.top{
    background-color: white;
    width: 100%;
    position: relative;
}
.topWrapper{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topWrapper h1{
    color: #855cb3;
}
.topWrapper input{
    width: 500px;
    height: 50px;
    border: 2px solid rgb(226, 204, 226);
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
    left: -70px;
}
#topSearchBtn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(./images/search.png);
    background-size: cover;
    position: relative;
    left: -360px;
    cursor: pointer;
}

.borderLine{
    border-bottom: 2px solid  rgb(226, 204, 226);;
}

/* 사이드 */
.side{
    width: 100%;
    margin-top: 150px;
    position: fixed;
}
.sideWrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.side .left{
    width: 250px;
    height: max-content;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid rgb(226, 204, 226);
    
}
.leftMenu{
    padding: 30px;
}
.leftMenu li{
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(226, 204, 226);
    cursor: pointer;
    overflow: auto;
}
.leftMenudiv{
    color: #855cb3;
    height: 24px;
    overflow: hidden;
    font-size: larger;
}
.leftMenudiv.start{
    width: 0;
    background-color: #855cb3;
    color: white;
    border: none;
}
.leftMenudiv.active{
    width: 50%;
    transition:1.5s;
}
.side .right{
    width: 250px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid rgb(226, 204, 226);
}

.right .contents{
    padding: 30px;
}
.right .login{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.right li:first-child{
    margin-bottom: 10px;
}
.right .login input{
    width: 100px;
}
.right .join{
    display: flex;
    justify-content: space-between;
    font-size: 11.5px;
}
/* 스크롤 */
.scrollContents{
    width: 100%;
    z-index: -999;
    left: 1100px;
    top: 340px;
}

#scrollBtn{
    width: 50px;
    height: 50px;
    /* border: 2px solid #855cb3; */
    border-radius: 500px;
    background-color: #855cb3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 350px;
    transition: 0.6s;
    opacity: 0;
    font-size: larger;
}

.space{
    height: 150px;
}

/* 여기서부터 태석 */

/* 개발자모드 */

.AddHiddenPage{
    display: none;
}
.adminModeAdd{
    cursor: pointer;
    position: relative;
}

.AddPage{
    width: 250px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    left :100px;
    top: -50px;
    cursor: default;
}
.AddPageGeturl{
    display: flex;
}
.AddPageButton{
    display: flex;
    position: absolute;
    left: 180px;
    top: 120px;
    width: max-content;
}
.AddPageAddButton, .AddPageCancelButton{
    margin: 0 10px;
}



/* 위는 개발자모드 */

.wholeWrapMain{
    width: 1200px;
    margin: 0 auto;
}

.wholeGameSlide{
    width: 600px;
    height: 200px;
    background-color: whitesmoke;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.wholeGameSlideButton{
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
}

.wholeGameSlideNextButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55px;
    left: 540px;
    z-index: 1;
}
.wholeGameSlideNextButton:hover{
    background-color: white;
    cursor: pointer;
}
.wholeGameSlidePrevButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55px;
    left: 10px;
    z-index: 1;
}
.wholeGameSlidePrevButton:hover{
    background-color: white;
    cursor: pointer;
}

.wholeGameSlideul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.wholeGameSlideul li img{
    width: 600px;
    height: 200px;
}

/* 임시 CSS 슬라이드쇼 구간 */
.wholeGameSlideLabel{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    background-color: #855cb3;
    display: flex;
    background-color: transparent;
}
.wholeGameSlideLabel input{
    display: none;
}
.wholeGameSlideLabel label{
    width: 100%;
    height: 40px;
    display: block;
    transition: 1s;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
}
.wholeGameSlideLabel label div{
    width: 0px;
    height: 100%;
}
.wholeGameSlideLabel input:checked+label div{
    width: 100%;
    background-color: purple;
    transition: 5s;
}
/* 임시 CSS 슬라이드쇼 구간 */

.wholeGameNav{
    width: 600px;
    margin: 50px auto 0;
    background-color: whitesmoke;
    position: relative;
    height: 150px;
}
.wholeGameNav .wholegamement{
    color: #855cb3;
    font-size: 2em;
    font-weight: bold;
    margin: auto 20px;
}
.wholeGameNavTop{
    display: flex;
    position: relative;
}
.GameListClick{
    border: 1px solid rgb(226, 204, 226);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameListIcon img{
    width: 27px;
    height: 27px;
    color: white;
}
.gameListIcon img:hover{
    background-color: #855cb3;
}
.gameListIcon{
    margin : auto 3px;
}
.searchBar{
    width: max-content;
    height: 30px;
    position: absolute;
    right: 0;
    display: flex;
}
.searchText{
    width: 250px;
}
.searchImg{
    cursor: pointer;
    position: absolute;
    right: 25px;
    width: 10px;
    height: 10px;

}
.searchText{
    margin: auto 5px;
    height: 30px;
}
.adminModeAdd{
    position: absolute;
    left: 500px;
    top: 40px;
}
.wholeGameNavSort{
    width: 500px;
    height: 50px;
    background-color: white;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wholeGameNavSort span{
    margin : auto;
    font-size: 15px;
    font-weight: bold;
}
.wholeGameNavSort span:hover{
    background-color: rgb(226, 204, 226);
    color: white;
    font-weight: bold;
}

.wholeGameZone{
    width: 600px;
    height: max-content;
    background-color: whitesmoke;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.wholeGameZoneul{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.wholeGameZoneul li{
    width: 260px;
    height: 300px;
    margin: 20px;
}

.wholeGameZoneul li img{
    width: 260px;
    height: 200px;
}
.wholeGameZoneul li .ListGameZone{
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
    color: #855cb3;
}
.ListGameZone .ListGameName{
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
    font-size: 20px;
}
.ListGameZone .ListGameComment{
    position: absolute;
    top: 40px;
    left: 5px;
    font-size: 15px;
    color: black;
}
.ListGameZone .ListGameHashTag{
    position: absolute;
    top: 70px;
    left: 5px;
    font-size: 10px;
    color: black;
}
