body{
    display: flex;
}

input[type="radio"]{
    display: none;
}

label{
    width: 100px;
    height: 100px;
    display: block;
    transition: 1s;
    border: 1px solid black;
}
input[type='radio']:checked + label{
    background-color: black;
    width: 50px;
}