:focus-visible{
    outline: none;
}
* {
    background-color:  transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    position: absolute;
    width: 100%;
}
p{
    margin: 0;
}
li{
    margin-bottom: 20px;
}
h5{
    margin: 0;
    color: #855cb3;
    height: 16px;
}

.mainContentsWrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 탑 */
.top{
    position: fixed;
    background-color: white;
    width: 100%;
}
.topWrapper{
    height: 100px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topWrapper h1{
    color: #855cb3;
}
.topWrapper input{
    width: 500px;
    height: 50px;
    border: 2px solid rgb(226, 204, 226);
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
    left: -70px;
}
#topSearchBtn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(../images/search.png);
    background-size: cover;
    position: relative;
    left: -360px;
    cursor: pointer;
}
.fixedSpace{
    position: fixed;
    top: 100px;
    height: 20px;
    width: 100%;
    background-color: white;
}
.borderLine{
    position: fixed;
    width: 100%;
    top: 120px;
    border-bottom: 2px solid  rgb(226, 204, 226);;
}
.space{
    height: 150px;
}
.join_cover{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.mobile input{
    width: 50px;
}
#inputNum1{
    width: 50px;
    padding: 1px 2px 1px 2px;
    
}
.agree_cover{
    width: 1000px;
    margin: 0 auto;
}
.checkbox{
    margin-top: 1px;
}
.use_agree{
    width: 582px;
}
.use_agree .Box_cover{
    margin-bottom: 20px;
}
.use_agree .Box{
    display: flex;
    justify-content: space-between;
}
.textbox{
    font-size: x-small;
    border: 1px solid black;
    height: 100px;
    overflow: auto;
}
.finish_cover{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.finish_cover button{
    width: 70px;
    height: 30px;
    margin-right: 30px;
}
