* {
  padding: 0;
  margin: 0;
}

#mainPageTop {
  background-color: black;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
  position: relative;
  justify-content: space-between;
}

#mainPageTop > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPageTop > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainPageTop > ul > li {
  list-style: none;
}
#mainPageNav {
  width: 30%;
  display: flex;
}
#mainPageSign {
  width: 10%;
}
#mainPageLogo {
  width: 5%;
}
.mainPageLogo_notionLogo,
.mainPageLogo_githubLogo {
  width: 30px;
}
#mainContent {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
#mainContent #mainPost {
  width: 100%;
  height: 500px;
  background-color: white;
  position: relative;
  margin-top: 100px;
}

#mainContent #mainPost #mainPost_top {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid black;
}
#mainContent #mainPost #mainPost_middle {
  width: 100%;
  height: 70%;
  border-bottom: 1px solid black;
}
#mainContent #mainPost #mainPost_bottom {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
  #mainContent {
    width: 80%;
  }
  #mainContent #mainPost {
    height: 300px;
  }
}
@media only screen and (max-width: 425px) {
  #mainContent {
    width: 90%;
  }
  #mainContent #mainPost {
    height: 200px;
  }
}
