* {
  padding: 0;
  margin: 0;
}

#mainPageTop {
  background-color: black;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
  position: relative;
}
.medium_menu,
.small_menu {
  display: none;
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

nav #community,
nav #minigame {
  font-size: 20px;
}

#mainSearch {
  margin: auto 10% auto auto;
  height: 30px;
  width: 20%;
  padding: 10px;
  font-size: 20px;
}

#mainContent {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}
#mainContent #mainPost {
  width: 100%;
  height: 300px;
  background-color: white;
  position: relative;
}
#mainContent #mainPost > input {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 30%;
  padding-left: 1%;
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  nav {
    font-size: 20px;
  }
  #community,
  #minigame {
    font-size: 15px;
  }
  #mainContent {
    width: 80%;
  }
  #mainContent #mainPost {
    height: 200px;
  }
  #mainContent #mainPost > input {
    font-size: 20px;
  }
}
@media only screen and (max-width: 425px) {
  nav {
    font-size: 20px;
  }
  #community,
  #minigame {
    display: none;
  }
  #mainSearch {
    width: 50%;
  }
  #mainContent {
    width: 90%;
  }
  #mainContent #mainPost {
    height: 100px;
  }
  #mainContent #mainPost > input {
    font-size: 15px;
  }
}
