<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <body>
        <div id="mainPageTop">
            <div id="mainLogo"><a href="/">이건 메인로고</a></div>
            <ul id="mainPageNav">
                <li><a href="/community_hub">COMMUNITY</a></li>
                <li><a href="/minigame">MINI GAME</a></li>
            </ul>
            <ul id="mainPageSign">
                <li><a href="/join">회원가입</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
            <ul id="mainPageLogo">
                <li>
                    <a href="https://github.com/TeTedo/KeyboardWarrior.git"
                        ><img
                            class="mainPageLogo_githubLogo"
                            src="http://rajlab.org/icons/github_white.png"
                            alt="github"
                    /></a>
                </li>
                <li>
                    <a
                        href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
                        ><img
                            class="mainPageLogo_notionLogo"
                            src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
                            alt="notion"
                    /></a>
                </li>
            </ul>
        </div>

        <!-- 여기까지 탑 공통 부분 -->

        <div id="mainContent">
            <div id="mainContentWrap">
                <div class="mainPost">
                    <video autoplay muted loop preload="none" controls>
                        <source src="../videos/fifa.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="mainPost">
                    <video autoplay muted loop preload="none" controls>
                        <source src="" type="video/mp4" />
                    </video>
                </div>
                <div class="mainPost">
                    <video autoplay muted loop preload="none" controls>
                        <source src="../videos/riniji.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="mainPost" style="background-color: tomato"></div>
                <div class="mainPost" style="background-color: blue"></div>
                <div class="mainPost" style="background-color: green"></div>
                <div class="mainPost" style="background-color: pink"></div>
                <div class="mainPost" style="background-color: orange"></div>
            </div>
            <div id="mainTitleWrap">
                <div class="mainTitle">
                    <a href="">FIFFA ONLINE 4</a>
                </div>
                <div class="mainTitle">
                    <a href="">MAPLE STORY</a>
                </div>
                <div class="mainTitle"><a href="">리니지</a></div>
                <div class="mainTitle"></div>
                <div class="mainTitle"></div>
                <div class="mainTitle"></div>
            </div>
        </div>
    </body>
    <script>
        const mainContent = document.getElementById("mainContent");
        const mainContentWrap = document.getElementById("mainContentWrap");
        const mainPosts = document.querySelectorAll(".mainPost");
        let move = 0;
        let isOnScroll = true;
        let time;
        mainContent.onwheel = e => slide(e);
        function slide(e) {
            mainContent.onwheel = null;
            const maxScroll =
                mainContentWrap.offsetWidth - mainContent.offsetWidth + 2;
            console.log("휠돌리는중");
            if (isOnScroll) {
                console.log("스크롤됨");
                isOnScroll = false;
                setTimeout(
                    () => (
                        (isOnScroll = true),
                        (mainContent.onwheel = e => slide(e))
                    ),
                    1000
                );
                move += e.wheelDelta > 0 ? 485 : -485;
                move = move < 0 ? maxScroll : move;
                move = move > maxScroll ? 0 : move;
                mainContent.scrollTo({ left: move, behavior: "smooth" });
            } else if (!isOnScroll) {
                return;
            }
        }
        function debounce(func, wait = 20, immediate = true) {
            var timeout;
            return function () {
                var context = this,
                    args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait); //얘가 시간지나면 timeout을 0(false)로 만들어줌
                if (callNow) func.apply(context, args);
            };
        }
        mainContent.addEventListener(
            "scroll",
            debounce(controlVideo, 20, false)
        );
        function controlVideo(e) {
            mainPosts.forEach(post => {
                if (
                    post.getBoundingClientRect().left >= 264 &&
                    post.getBoundingClientRect().left <= 751
                ) {
                    if (post.querySelector("video")) {
                        post.querySelector("video").play();
                    }
                } else {
                    if (post.querySelector("video")) {
                        post.querySelector("video").pause();
                    }
                }
            });
        }
        // function slide(e) {
        //     const maxScroll = mainContentWrap.offsetWidth - mainContent.offsetWidth + 2;
        //     console.log("스크롤됨");
        //     move += e.wheelDelta > 0 ? 485 : -485;
        //     move = move < 0 ? 0 : move;
        //     move = move > maxScroll ? 0 : move;
        //     mainContent.scrollTo({ left: move, behavior: "smooth" });
        // }

        // mainContent.addEventListener("wheel", debounce(slide, 120));

        // 1. screenleft 같은걸로 스크롤되는 포스팅 위치잡아서 특정위치에서(화면에보이는) 벗어나면
        //    동영상 재생 멈추는 기능
        // 2. 게임이름에 커서 갓다댓을때 호버이펙트 멋잇는거
    </script>
</html>
