* {
  padding: 0;
  margin: 0;
}

#mainPageTop {
  background-color: black;
  width: 100%;
  height: 9.375rem;
  display: flex;
  color: white;
  position: relative;
  justify-content: space-between;
}

#mainPageTop > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPageTop > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainPageTop > ul > li {
  list-style: none;
}
#mainPageNav {
  width: 30%;
  display: flex;
}
#mainPageSign {
  width: 10%;
}
#mainPageSign > li > a,
#mainPageNav > li > a,
#mainLogo > a {
  text-decoration: none;
  color: white;
}
#mainPageLogo {
  width: 5%;
}
.mainPageLogo_notionLogo,
.mainPageLogo_githubLogo {
  width: 1.875rem;
}
/* 여기까지 공통 탑 부분 */
/* 사이드바 */
#sideBar {
  width: 25rem;
  height: 46.875rem;
  background-color: black;

  position: absolute;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 1s linear;
}
#sideBar::-webkit-scrollbar {
  display: none;
}
#sideBar #sideBar_top {
  width: 100%;
  height: 12.5rem;
  background-color: beige;
  position: relative;
}
@keyframes sideBarAnimation {
  0% {
    transform: translate(1.25rem);
  }
  50% {
    transform: translate(0rem);
  }
  100% {
    transform: translate(1.25rem);
  }
}
#sideBar_top_sideBarBtn {
  position: absolute;
  right: 1.875rem;
  font-size: 1.5625rem;
  animation: sideBarAnimation 1s linear infinite;
  display: flex;
}
.fa-arrow-left-long {
  cursor: pointer;
  display: block;
}
.sideBarOpenBtn {
  display: flex;
}
.fa-arrow-right-long {
  cursor: pointer;
  font-size: 1.5625rem;
  display: none;
  animation: sideBarAnimation 1s linear infinite;
}
#sideBar_top_up {
  display: flex;
  width: 100%;
  height: 50%;
}
#sideBar_top_up > ul {
  transform: translateX(9.375rem);
  margin: 1.875rem;
  font-size: 1.25rem;
  font-weight: bold;
}
#sideBar_top_up > ul > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sideBar_top_down {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sideBar_top_profileImg {
  position: absolute;
  top: 1.25rem;
  left: 3.125rem;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}
#sideBar_top_profileImg > a > img {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
}
#sideBar_top_down_left {
  width: 100%;
  height: 50%;
}
#sideBar_top_down_left > div:nth-child(1) {
  font-size: 0.8125rem;
  text-align: center;
}
#sideBar_top_down_left > div:nth-child(2) {
  font-size: 1.5625rem;
  text-align: center;
  font-weight: bold;
}
#sideBar_top_down_right {
  width: 100%;
  height: 100%;
  position: relative;
}
#sideBar_top_down_right > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.875rem;
}
.alarm {
  position: absolute;
  width: 6.25rem;
  display: flex;
  justify-content: space-around;
  left: 3.75rem;
}
.alarm > span {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9375rem;
  font-weight: bold;
  border: 0.0625rem solid white;
  border-radius: 50%;
  background-color: red;
}
#sideBar_top_down_right > div > a {
  color: black;
}
#sideBar_top_down_right > a {
  display: inline-block;
  box-sizing: border-box;
  width: 9.375rem;
  height: 1.875rem;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  border: 0.0625rem solid black;
  text-align: center;
  transform: translate(0.625rem, 1.25rem);
  border-radius: 0.625rem;
}
#sideBar_top_down_right > i {
  display: flex;
  align-items: center;
}

/* 채팅창 추가부분 */
.sideBar_Bottom_chat {
  width: 100%;
  min-height: 34.375rem;
  background-color: beige;
  padding: 1.25rem;
  transform: translateX(-31.25rem);
  transition: 1s;
}
.chatOn {
  transform: translateX(0rem);
}
.sideBar_Bottom_chatRoom {
  position: relative;
  width: 21.875rem;
  height: 6.25rem;
  background-color: white;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  transition: 1s;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  height: max-content;
}
.sideBar_Bottom_chatRoom::-webkit-scrollbar {
  display: none;
}
.sideBar_Bottom_chatRoom_preView {
  position: relative;
  width: 21.875rem;
  height: 6.25rem;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sideBar_Bottom_chatRoom_preView:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sideBar_Bottom_chatRoom_preView > img {
  width: 4.375rem;
  height: 4.375rem;
  margin: 0.625rem;
  border-radius: 50%;
}
.sideBar_Bottom_chatRoom_preView > div:nth-child(1) {
  width: 12.5rem;
  height: 4.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.chatNickName_preview {
  font-size: 1.25rem;
  font-weight: bold;
}
.chatMessage {
  font-size: 0.9375rem;
}
.preViewAlarm {
  position: absolute;
  right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  color: white;
  font-size: 0.9375rem;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar_Bottom_chatRoom_main {
  display: none;
}
.sideBar_Bottom_chatRoom_top {
  height: 3.125rem;
  border-bottom: 0.0625rem solid;
  display: flex;
  align-items: center;
  font-size: 1.5625rem;
  font-weight: bold;
  justify-content: space-between;
}
.chatNickName > img {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-left: 0.625rem;
  border-radius: 50%;
  transform: translateY(0.3125rem);
}
.fa-minus {
  cursor: pointer;
}
.sideBar_Bottom_chatRoom_middle {
  width: 21.875rem;
  height: 15.625rem;
  max-height: 15.625rem;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 0.0625rem solid black;
}
.sideBar_Bottom_chatRoom_middle::-webkit-scrollbar {
  display: none;
}
.fullchatMessage {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
}
.fullchatMessage > img {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.3125rem;
  border-radius: 50%;
}
.leftChat {
  flex-direction: row;
}
.rightChat {
  flex-direction: row-reverse;
}
.chatTimeStamp {
  height: 100%;
  width: 2.5rem;
  color: gray;
  font-size: 0.625rem;
  transform: translateY(0.625rem);
}
#chatForm {
  width: 21.875rem;
  height: 3.125rem;
  border-top: 0.0625rem solid black;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
#chatForm > input {
  height: 1.875rem;
  width: 18.75rem;
  outline: none;
  border: 0.0625rem solid black;
  font-size: 1.25rem;
  padding: 0.3125rem 0.3125rem 0 0.3125rem;
  border-radius: 0.9375rem;
  position: relative;
}
#chatForm > textarea::-webkit-scrollbar {
  display: none;
}
.fa-comment-dots {
  cursor: pointer;
}
/* 채팅창 추가 끝 */

#contentsWrap {
  position: relative;
  display: flex;
  justify-content: center;
  width: 62.5rem;
  height: 43.75rem;
  margin: auto;
  margin-top: 3.125rem;
}
/* 메인슬라이드 */
#mainContent {
  background-color: black;
  border: 0.0625rem solid;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}
/* #mainContent::-webkit-scrollbar {
    display: none;
} */
#mainContentWrap {
  width: max-content;
  height: 31.25rem;
  display: flex;
  /* position: absolute; */
}
#mainContentWrap .mainPost {
  width: 28.4375rem;
  height: 28.125rem;
  background-color: white;
  margin: 1.875rem 0rem 0rem 1.875rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#mainContentWrap .mainPost:last-child {
  width: 28.4375rem;
  height: 28.125rem;
  background-color: white;
  margin: 1.875rem 1.875rem 0rem 1.875rem;
}
#mainContentWrap .mainPost > video {
  width: max-content;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
#mainTitleWrap {
  /* background-color: whitesmoke; */
  width: 187.5rem;
  height: 12.5rem;
  display: flex;
}
#mainTitleWrap .mainTitle {
  width: 28.4375rem;
  background-color: black;
  margin: 0.9375rem 0rem 1.875rem 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainTitleWrap .mainTitle > a {
  text-decoration: none;
  color: rgb(120, 116, 116);
  font-weight: bold;
  font-size: 2.1875rem;
  cursor: pointer;
}
#mainTitleWrap .mainTitle > a:hover {
  color: #fff;
  transition: 0.5s;
  font-size: 3.4375rem;
  text-shadow: 0 0 0.625rem #fff, 0 0 1.25rem #fff, 0 0 2.5rem #fff,
    0 0 5rem #fff, 0 0 7.5rem #fff, 0 0 15rem #fff;
}

/* 여기서부터 스크롤헬퍼 */
.scrollHelper {
  width: 62.5rem;
  height: 43.75rem;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  z-index: -1;
  background-color: #fff;
}
.scrollHelper_contents {
  position: absolute;
  width: max-content;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.scrollHelper_icon {
  font-size: 12.5rem;
  font-weight: 900;
  transform: translateX(-0.625rem);
  animation: move 0.9s;
  animation-iteration-count: infinite;
}
.scrollHelper_text {
  font-size: 3.75rem;
}
.scrollHelper.active {
  animation: timer 2s;
}
.scrollHelper_icon.active {
  font-size: 6.25rem;
  font-weight: bolder;
  opacity: 1;
}
.scrollHelper_text.active {
}
@keyframes timer {
  0% {
    opacity: 0;
  }
  20% {
    z-index: 999;
    opacity: 0.7;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes move {
  50% {
    transform: translateX(13.75rem);
  }
  100% {
    transform: translateX(-0.625rem);
  }
}

/* 스크롤막기용 */
.block {
  overflow: hidden;
}
.sideBar_Bottom_notification {
  width: 25rem;
  min-height: 34.375rem;
  background-color: beige;
  padding: 1.25rem;
  transition: 1s;
  position: absolute;
  top: 12.5rem;
  left: -34.375rem;
}
.noticeOn {
  left: 0;
}
.sideBar_Bottom_notification_notice {
  width: 21.875rem;
  height: 6.25rem;
  background-color: white;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  transition: 1s;
}
.sideBar_Bottom_notification > a {
  text-decoration: none;
  color: black;
}
.sideBar_Bottom_notification_notice > img {
  margin: auto 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.sideBar_Bottom_notification_notice > span > div:nth-child(1) {
  font-size: 1.25rem;
  font-weight: bold;
}
.sideBar_Bottom_chat {
  min-height: 0;
  display: flex;
  flex-direction: column-reverse;
}
.sideBar_Bottom_notification {
  min-height: 0;
  display: flex;
  flex-direction: column-reverse;
}
#sideBar {
  background-color: beige;
}
.alarm > span:nth-child(1) {
  visibility: hidden;
}
.preViewAlarm {
  display: none;
}
.alarm > span:nth-child(2) {
  visibility: hidden;
}
