* {
  padding: 0;
  margin: 0;
}
#mainPageTop {
  background-color: black;
  width: 100%;
  height: 9.375rem;
  display: flex;
  color: white;
  position: relative;
  justify-content: space-between;
}

#mainPageTop > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPageTop > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainPageTop > ul > li {
  list-style: none;
}
#mainPageNav {
  width: 30%;
  display: flex;
}
#mainPageSign {
  width: 10%;
}
#mainPageSign > li > a,
#mainPageNav > li > a,
#mainLogo > a {
  text-decoration: none;
  color: white;
}
#mainPageLogo {
  width: 5%;
}
.mainPageLogo_notionLogo,
.mainPageLogo_githubLogo {
  width: 1.875rem;
}

/* 로그인 */
#loginSector {
  width: 31.25rem;
  height: 18.75rem;
  border: 0.0625rem solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.875rem;
  box-sizing: border-box;
}
#loginSector_input {
  width: 100%;
  height: 9.375rem;
}
#loginSector_input > div {
  font-size: 1.25rem;
}
#loginSector_input > div > input {
  width: 100%;
  height: 2.5rem;
  padding: 0.3125rem;
  font-size: 1.25rem;
  box-sizing: border-box;
}
#loginSector_loginBtn {
  width: 100%;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* middle size */
@media screen and (max-width: 48rem) {
}

/* small size */
@media screen and (max-width: 26.5625rem) {
}
