:focus-visible {
    outline: none;
}
* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    width: 100%;
    height: max-content;
}
p {
    margin: 0;
    font-size: small;
}
li {
    margin-bottom: 20px;
    height: 55px;
}
h5 {
    margin: 0;
    color: black;
}
html {
    cursor: url(../images/maincursor.png) 12.5 12, auto;
}
cursor {
    width: 20px;
    height: 20px;
}
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
            format("opentype");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
            format("woff2"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
            format("woff"),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
            format("opentype");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
    font-family: "Noto Sans KR, sans-serif";
}

/* 탑 */
.top {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 140px;
    background-color: black;
    display: flex;
    align-items: center;
}
.topWrapper {
    height: 100px;
    width: 1340px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContents {
    display: flex;
    width: 930px;
    justify-content: space-between;
    align-items: center;
}
.navmenuBar {
    display: flex;
    width: 300px;
    height: 25px;
    font-size: 20px;
    justify-content: space-between;
}
.navmenuCommunity,
.navmenuMinigame {
    color: white;
}
.topWrapper input {
    width: 380px;
    height: 55px;
    border-radius: 2px;
    background-color: whitesmoke;
    position: relative;
    left: 34px;
    font-size: 17px;
    padding: 15px;
    border: solid 1px #131313;
}
.topSearchBtn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(../images/search.png);
    background-size: cover;
    position: relative;
    left: -105px;
    cursor: pointer;
}
.space {
    height: 150px;
}

.contents {
    margin-top: 2%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.join {
    margin-bottom: 20px;
}
.join .mobile input {
    width: 50px;
}
.join .mobile select {
    width: 50px;
    padding: 1px 2px 1px 2px;
}

.agree {
    width: 582px;
}
.agree .box {
    margin-bottom: 20px;
}
.agree .box .tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agree .box .textbox {
    font-size: x-small;
    border: 1px solid black;
    height: 100px;
    overflow: auto;
}

.btns {
    margin-top: 5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btns button {
    width: 60px;
}
.btns button:first-child {
    margin-right: 40px;
}
