* {
    background-color:  transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-family: 'Noto Sans KR', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    position: absolute;
    width: 100%;
}
.space{
    height: 150px;
}
.popUp{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -999;
    display: none;
}
.popUpWrap{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: whitesmoke;
    position: relative;
    top: 166px;
    left: 27px;
    border: 2px solid #855cb3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ModifyPopUp{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -999;
    display: none;
}
.ModifyPopUpWrap{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: whitesmoke;
    position: relative;
    top: 166px;
    left: 27px;
    border: 2px solid #855cb3;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 탑 */
.top{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
    background-color: black;
}
.topWrapper{
    height: 100px;
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navmenuBar{
    display: flex;
    width: 300px;
    height: 25px;
    font-size: 20px;
    justify-content: space-between;
    margin-left: 70px;
}
.navmenuCommunity, .navmenuMinigame{
    color: white;
}
.topWrapper input{
    width: 380px;
    height: 55px;
    border-radius: 2px;
    background-color: whitesmoke;
    position: relative;
    left: 200px;
    font-size: 17px;
    padding: 15px;
    border: solid 1px #131313;
}
#topSearchBtn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url(../images/search.png);
    background-size: cover;
    position: relative;
    left: -360px;
    cursor: pointer;
}
/* 사이드 */
.left{
    position: fixed;
    margin-top: 45px;
    height: auto;
    margin-left: -920px;   
}
.leftWrapper{
    width: 284px;
    height: 313px;
    border-radius: 2px;
    border: solid 0.5px #272727;
    background-color: #fff;
    position: relative;
}
.leftWrapperShadow{
    width: 284px;
    height: 313px;
    position: absolute;
    left: 7px;
    top: 5px;
    background-color: black;
    z-index: -1;
    border-radius: 2px;
}
.contents .contentsWrappertologin{
    height: 230px;
    width: 225;
    position: absolute;
    top: 35px;
    left: 30px;
}
.contentsWrappertologin .forlogin{
    width: 16px;
  height: 21px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  margin: 0 0 7px;
}
.contentsWrappertologin .forlogininput{
    width: 100%;
    height: max-content;
    margin : 0 0 18px;
    padding: 5px;
    font-size: 15px;
}
.contentsWrappertologin .forloginbutton{
    width: 226px;
    height: 43px;
    padding: 10px 78px 12px 79px;
    border-radius: 2px;
    background-color: #f1f1f1;
    font-size: 15px;
    margin: 14px 0 7px;
}
.contentsWrappertologin .join{
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;

}
/* 스크롤 */
.scrollContents{
    position: fixed;
    width: 50px;
    z-index: -999;
    height: 50vh;
    left: 620px;
}

#scrollBtn{
    width: 50px;
    height: 50px;
    /* border: 2px solid #855cb3; */
    border-radius: 500px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 350px;
    transition: 0.6s;
    opacity: 0;
    font-size: larger;
}

/* 메인 */
.mainWrapper{
    width: 1200px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.main .mainContents{
    height: 80vh;
    margin-top: 45px;
    margin-left: 560px;
}

/* 글작성칸 */
.main .mainWrite {
    background-color: whitesmoke;
    width: 930px;
    min-height: 0px;
    height: auto;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    border: solid 0.5px #000;
}
.main .mainWrite .mainWriteWrapper{
    display: flex;;
    
}
.chooseGame{
    position: absolute;
    top: 5px;
    left: 90px;
}
.main .mainWrite .profileImg{
    width: 45px;
    height: 40px;
    background-image: url(../images/profileImg.jpg);
    background-size: cover;
    border: 1px solid none;
    border-radius: 500px;
}
.main .mainWrite .mainWriteContents{
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.mainWriteContentsBtns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainWriteContentsBtns .attributeBtns button{
    color: #855cb3;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    box-sizing: content-box;
}
.chooseCategory{
    margin : 10px 270px 0 0;
}
.mainWriteContentsBtns #postRegisterBtn{
    width: 175px;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f1f1f1;
    color: #8e8e8e;
    border-left: 0.5px solid #000;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}
.mainWriteContents .mainWriteContentsImgWrapper{
    margin-bottom: 10px;
}
.mainWriteContentsImgWrapper img{
    width: 476px;
    height: 320px;
}
.mainWriteContentsImgWrapper button{
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    top: -324px;
    left: 455px;
}
.main .mainWrite textarea{
    width: 476px;
    height: 30px;
    border: none;
    font-size: x-large;
    resize: none;
    border-bottom: 1px solid rgb(226, 204, 226);
}
.main .mainWrite textarea::-webkit-scrollbar{
    display: none;
}
:focus-visible{
    outline: none;
}

/* 포스팅된거 */
.postWrapper{
    display: flex;
    flex-direction: column-reverse;

}
.main .postWrite {
    background-color: whitesmoke;
    border-radius: 20px;
    width: 930px;
    min-height: 100px;
    height: auto;
    border: 2px solid rgb(226, 204, 226);
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    
}
.main .postWrite .postWriteWrapper{
    display: flex;;
    
}
.postWriteGameTag{
    position: absolute;
    left: 90px;
    bottom: 35px;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
}
.CategoryinModify{
    position: absolute;
    bottom: 35px;
    left: 150px;
    display: none;
}
.main .postWrite .profileImg{
    width: 45px;
    height: 40px;
    background-image: url(../images/profileImg.jpg);
    background-size: cover;
    border: 1px solid none;
    border-radius: 500px;
}
.main .postWrite .postWriteContents{
    width: 476px;
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}
.postWriteContentsBtns{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.postWriteContentsBtns .mainBtns button{
    border: 2px solid rgb(226, 204, 226);
    border-radius: 30px;
    color: #855cb3;
    width: 60px;
    height: 30px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
}
.postWriteContentsBtns .mainBtns button:nth-child(1){
    margin-right: 20px;
}
.postWriteContentsBtns .modifyAddImgBtn{
    display: none;
    border: none;  
    margin-right: 10px;
    cursor: pointer;
    color: #855cb3;
    font-weight: 600;
    font-size: 13px;
}
.postWriteContents .postWriteContentsImgWrapper{
    margin-bottom: 10px;
    display: none;
}
.postWriteContentsImgWrapper img{
    width: 476px;
    height: 320px;
}
.postWriteContentsImgWrapper button{
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    top: 21px;
    left: 455px;
}
.main .postWrite .postWriteContents img{
    width: 476px;
    height: 320px;
    margin-bottom: 10px;
}
/* 슬라이드구간 */
.wholeGameSlide{
    width: 476px;
    height: 320px;
    background-color: whitesmoke;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.wholeGameSlideButton{
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
}

.wholeGameSlideNextButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 130px;
    left: 420px;
    z-index: 1;
}
.wholeGameSlideNextButton:hover{
    background-color: white;
    cursor: pointer;
}
.wholeGameSlidePrevButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: 1;
}
.wholeGameSlidePrevButton:hover{
    background-color: white;
    cursor: pointer;
}

.wholeGameSlideul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.wholeGameSlideul li img{
    width: 600px;
    height: 200px;
}
/* 슬라이드구간 */

.postWriteContentsText{
    width: 476px;
    font-size: 20px;
    border-bottom: 1px solid rgb(226, 204, 226);
    /* 자동줄내림 */
    word-break: break-all; 
}
.main .postWrite .modifyTextarea{
    width: 476px;
    min-height: 30px;
    border: none;
    font-size: 20px;
    resize: none;
    border-bottom: 1px solid rgb(226, 204, 226);
    word-break: break-all;
}
.main .postWrite textarea::-webkit-scrollbar{
    display: none;
}
:focus-visible{
    outline: none;
}
/* .mainWrapper .center div{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 600px;
    height: auto;
    border: 2px solid rgb(226, 204, 226);
    padding: 30px;
    margin-bottom: 20px;
} */